<h1>Dashboard</h1>
<h2>Projects</h2>
<ul>
	<% @projects.each do |project| %>
		<li><%= project.name %></li>
	<% end %>
</ul>

<%= render :partial => "projects/form", :locals => { :project => Project.new } %>


<%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>   