<h1>Dashboard</h1>
<h2>Projects</h2>
<ul>
	<%= render @projects %>
</ul>


<%= render :partial => "projects/form", :locals => { :project => Project.new } %>


<%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>