%h1 Dashboard

%ul.project-list
  = render @projects

= render :partial => "projects/form", :locals => { :project => Project.new }




%ul
  %li put in full colors the image that needs attention
  %li put in "greyed" the image that are already reviewed
  %li add "updated at" info below the images
  %li |today |x days ago : show a real timeline ? based on upload time?
  %li show info that there was comments
  %li connected peoples
  %li hightlight mockups where people are connected
  %li give information when overing on the screen: what notes, who is or has looke at it
  %li task: check if the designer as responded
  %li notifications and upates?