= link_to "#", :class => "btn compare-button" do
  %i.icon-eye-open
  Compare

%h4 Annotations

- cnt = 0
- annotations.each do |note|
  %p
    %span.note-counter= cnt += 1
    = note.comment
  .clear-both