%li
  .page-preview
    = link_to [page.project, page] do
      .image-frame
        = image_tag page.latest_version.image_url(:thumb_top) if page.latest_version and page.latest_version.image?
      .project-name
        = page.name