= render :partial => "form", :locals => { :page => @page }

%hr
= link_to [@project, @page], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger btn-mini" do
  %i{class: "icon-trash"}
  Delete page "#{@page.name}"