%li.project
  %h2
    = link_to project.name, project

    - project.pages.each do |page| 
      - if page.latest_version
        = link_to preview_image_version_path(page.latest_version) do
          %span.thumb
            = image_tag page.latest_version.image_url(:thumb_top)