%li.project
  / = link_to project_path(project) do
  /   = image_tag "cover-for-project.png"
  
  %h2
    = link_to project.name, project

  %p
    - project.pages.each do |page| 
      - if page.latest_version
        = link_to project_page_path(project, page) do
          %span.thumb
            = image_tag page.latest_version.image_url(:thumb_top)

