%h1
  = @project.name

- @project.pages.each do |page|
  %li
    = link_to page.name, [@project, page]

= render :partial => "pages/form", :locals => { :page => @project.pages.new }


= link_to 'Delete project', @project, confirm: 'Are you sure?', method: :delete