
.navigation {

    a {
        text-decoration:underline;
        color: black;
    }
}


.no-project {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #999;

    width: 450px;

    border: 2px solid #BBB;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

}

ul.project-list {
    list-style: none;

    .project {
        margin: 60px;

        .thumb {
            img {
                width: 80px;
                height: 80px;
            }
            overflow: hidden;


        }

    }
}