
.navigation {

    a {
        text-decoration:underline;
        color: black;
    }

}

ul.project-list {
    list-style: none;

    .project {
        margin: 60px;

        .thumb {
            img {
                width: 80px;
                height: 80px;
            }
            overflow: hidden;


        }

    }
}