// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body.preview {
    // background: none;
    // background-color: white;

    .content {
        margin-top: 0px;
    }

}

aside, .aside {
    span.note-counter {
        display: block;
        float: left;
        position: relative;
        top: -4px;
        left: 0;
        background: url(/assets/notes-bg.png) no-repeat -150px 0;
        width: 25px;
        height: 25px;
        font-size: 12px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: -1px;
        text-align: center;
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
        margin: 0 10px 3px 0;
    }
}

.well.import-new-version-well {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}