!!!
%html
  %head
    %titleMockupGo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.preview
    .navbar.navbar-fixed-bottom.navbar-inverse
      .navbar-inner
        .container
          %ul.nav
            %li.divider-vertical
            %li
              %a
                %i.icon-circle-arrow-left.icon-white
                Back

            %li.divider-vertical
            %li
              %a.page-name
                Name of the page that is displayed


          %ul.nav.pull-right
            %li
              .btn.btn-success
                %i.icon-ok.icon-white
                Marquer comme vue

            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-bullhorn.icon-white 
                Commentaires
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li.nav-header Nav header
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link

            %li.divider-vertical
            %li
              %a 
                %i.icon-question-sign.icon-white
                Aide

            %li.divider-vertical


    .content
      = yield

